@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@600&display=swap');


html {
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 18px;
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #4B2790;
    padding: 20px;
    color: white;
    margin: 0 -20px;
}

#logo {
    border: none;
}

a {
    color: #333;
}

a:hover {
    background-color: #4B2790;
    color: white;
}

img {
    max-width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
}

.caption {
    text-transform: uppercase;
    opacity: 0.8;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 0.5em;
    text-align: center;
    font-size: 0.7em;
}
